h1.title{
    border-bottom: dotted gray 3px;
    text-align: center;
    padding-bottom: 1em;
    color: darkslategray;
}
 div.color1, div.color2, div.color3, div.color4, div.color5, div.color6{
    height:200px;
    width: 200px;
    float: left;
}
div.color1{
background-color: rgb(242,80,34);
}
div.color2{
    background-color: rgb(127,186,0);
}
div.color3{  
    background-color: rgb(0,164,239);
}
div.color4{
    background-color: rgb(255,185,0);
}
section.rgbcolors, section.hexcolors{
    display: inline-block;
    width: 100%;
}
div.color5{
    background-color: #4DA6FF;
}
div.color6{
    background-color: #ff4dc4;
}
section.container{
    width: 80%;
    position: relative;
    margin: auto;
}
img.img1{
    width: 100%;
}
p.intro{
position: absolute;
top: 35%;
bottom: 35%;
right: 10%;
left: 10%;
color: whitesmoke;
background-color: rgba(0,164,239,0.9);
font-size: 2em;
text-align: center;
padding: 0.5em;
box-shadow: 2px 2px 10px white;
}
a.link{
    display: block;
    font-size: 0.6em;
    background-color: #ff4dc4;
    width: 30%;
    margin: auto;
    padding: 0.2em;
    margin-top:1em;
    border-radius: 12px;
    color: azure;
    text-decoration: none;
}
a.link:hover{
    background-color: black;
    box-shadow: 0px 0px 10px 2px white;
}
img.img2{
    width: 100%;
}
h2.containertitle, p.par1, p.par2, p.par3
{
    position: absolute;
    color: whitesmoke;
}
h2.containertitle{
    text-align: center;
    top: 40%;
    left: 10%;
    right: 10%;
    font-size: 2.5em;
}
p.par1{ 
    top: 5%;
    left: 8%;
    font-size: 1.2em;
}
p.par2{ 
    bottom: 10%;
    right: 2%;
    font-size: 1.2em;
}
p.par3{
    top: 30%;
    right: 20%;
    font-size: 1.2em;
}
img.sepia1, img.sepia2, img.sepia3{
    width: 30%;
    margin: 1%;
}
   img.sepia1{
    filter: sepia(10%);
   }
   img.sepia2{
    filter: sepia(60%);
   }
   img.sepia3{ 
    filter: sepia(100%);
   }
   img.blur1, img.blur2, img.blur3
   {    width: 30%;
    margin: 1%;

   }
   img.blur2{
    filter: blur(5px);
   }
   img.blur3{
    filter: blur(10px);
   }
   img.invert1,img.invert2, img.invert3{
    width: 30%;
    margin: 1%;
   }
   img.invert1{
    filter: invert(10%);
   }
   img.invert2{
    filter: invert(60%);
   }

   img.invert3{
    filter: invert(100%);
   }

   section.container2{
    display: inline-block;
    width: 100%;
    position: relative;
   }
   div.imgleft, div.imgright, div.imgmiddle{
    position: relative;
    width: 30%;
    margin: 1%;
    float: left;

   }
   .containerimg1, .containerimg2, .containerimg3{
    width: 100%;
    
   }
   p.introo{
    position:absolute;
    top: 60%;
    bottom: 70%;
    right: 20%;
    left: 20%;
    color: rgb(255, 255, 255);
    background-color: rgb(239, 148, 166,0.6);
    font-family: 2em;
    text-align: center;
    padding: 1em;
    box-shadow: 2px 2px 10px rgb(252, 104, 126)
   }
   p.para1{
    position: absolute;
    top: 70%;
    bottom: 60%;
    right: 5%;
    left: 5%;
    color: rgb(255, 255, 255);
    background-color: rgb(239, 148, 166,0.6);
    font-size: 1em;
    text-align: center;
    padding: 3em;
    box-shadow: 1px 2px 10px rgb(252, 104, 126)
   }
   .containerimg1{
    filter: invert(25%);
   }
   .introo1{
    position: absolute;
    top: 30%;
    bottom: 40%;
    right: 5%;
    left: 5%;
    color: rgb(83, 54, 12);
    background-color: rgb(246, 200, 73,0.7);
    font-size: 2em;
    text-align: center;
    padding: 1em;
    box-shadow: 10px 10px 10px rgb(255, 252, 168);
   }
   .link1{
    display: block;
    font-size: 0.8em;
    background-color: rgb(241, 221, 175);
    width: 50%;
    margin: auto;
    padding: 0.3;
    margin-top: 1em;
border-radius: 10px;
color: rgb(59, 39, 8);
   }
   .containerimg2{
    filter: blur(5px)
   }
   .containerimg3{
    filter: sepia(5%);
   }

   h3.containertitle, p.cup1, p.cup2, p.cup3{
    position: absolute;
    color: rgb(236, 243, 15);
   }


   h3.containertitle{
    text-align: center;
   top: 40%;
   left: 10%;
   right: 10%;
   }
p.cup1{
    text-align: left;
    top: 60%;
    right: 5%;
    left: 5%;
}
p.cup2{
    text-align: right;
    top: 10%;
    left: 10%;
    right: 10%;
}
p.cup3{
    text-align: end;
    bottom: 5%;
    left: 10%;
    right: 5%;
    top: 20;
}