
body{
  background-image: url(images/colombia.image.jpg);
  background-repeat:repeat;
  background-position: cover;
  background-attachment: fixed;
  background-size: 105%;
  margin: 0px;

}


img.img1{
  position: absolute;
  padding-left: 15px;
  width: 65px;
  display: inline-block;
  bottom: 0%;
  top: 19%;
  left: 1%;
  right: 20%;
 
  
}
img.img2{
  position: absolute;
  padding-left: 80px;
  width: 65px;
  display: inline-block;
  bottom: 10%;
  top: 15%;
 left: 1%;
 right: 20%;
 
}

/* Nav bar */

.navigation{
  position: relative;
   background-color:  rgb(252, 236, 213);
    overflow: hidden;
    text-align: center;   
    
    

}
.navigation a{
    float: right;
    color: rgb(113, 63, 159);
    text-shadow: 5px 5px 10px rgb(200, 152, 247);
    padding: 1.5em;
    text-align: center;
    text-decoration: none;
    font-size: 1.9em;
    font-family: "Lilita One", sans-serif;
    font-weight: 1000;
   font-style: normal;  
}

@media screen and (max-width:1200px) {
  .navigation a{font-size: 1.8em;}
}

@media screen and (max-width:1077px) {
  .navigation a{font-size: 1.7em;}

}
@media screen and (max-width:900px) {
  .navigation a{font-size: 1.6em;}
}

@media screen and (max-width:870px) {
  .navigation a{font-size: 1.5em;}
}

@media screen and (max-width:800px) {
  .navigation a{font-size: 1.5em;}
}
@media screen and (max-width:825px) {
  .navigation a{font-size: 1.4em;}
}
@media screen and (max-width:775px) {
  .navigation a{font-size: 1.3em;}
}
@media screen and (max-width:733px) {
  .navigation a{font-size: 1.3em;}
}
@media screen and (max-width:725px) {
  .navigation a{font-size: 1.2em;}
}
@media screen and (max-width:690px) {
  .navigation a{font-size: 1.5em;}
}

@media screen and (max-width:663px) {
  .navigation a{font-size: 1.5em;
  }

}

@media screen and (max-width:663px) {
  .navigation a{font-size: 1.8em;
  }

}
@media screen and (max-width:550px) {
  .navigation a{font-size: 1.5em;}
}




/* Change the color of links on hover */
.navigation a:hover {
    background-color: rgb(255, 255, 94);
    color: rgb(151, 97, 192);
    border-radius: 15%;
    text-decoration: none;
    
  }
  
section.container{
  position: relative;
}

p.intro{
  position: absolute;
    top: 6em;
    left: 10%;
    right: 10%;
    font-size: 3em;
    text-align: center;
     font-family: "Lilita One", sans-serif;
     font-weight: 1000;
    font-style: normal;
    color: rgb(232, 217, 246);
    padding: 1em;
    background-color: rgb(250, 180, 2);
    margin-left: 7%;
    margin-right: 7%;
    border-radius: 100px;
    box-shadow: 2px 2px 10px white;
    
      }

      

      
.layout
{
  margin-top: 60%;
  margin-bottom: 10%;
  padding-left: 5%;
  padding:5%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color:  rgb(252, 236, 213);
  box-sizing: border-box;
}
img.art{
  width: 110%;
  
  
}
div.infoleft{
  width: 50%;
  margin-top: 2em;
}
div.inforight{
  width: 40%;
}


h1{
  
 padding: 0.8em;
 background-color:  rgb(252, 236, 213);
 
}
h1.title1, h1{
  font-size: 2em;
  font-family: "Lilita One", sans-serif;
  font-weight: 1000;
 font-style: normal;
  color: rgb(52, 20, 82);

}


p.facts{
  font-size: 1.2em;
  font-family: "Lilita One", sans-serif;
  font-weight: 1000;
 font-style: normal;  
 color: rgb(108, 35, 177);}
 
 @media screen and (max-width:1400px) {
  h1.title1{font-size: 2em;}
  p.facts{font-size: 1.2em;}
  
 }

@media screen and (max-width:1075px) {
  h1.title1{font-size: 1.7em ;}
  p.facts{font-size: 1.1em;}
  
}
@media screen and (max-width:988px) {
  h1.title1{font-size: 1.4em ;}
  p.facts{font-size: 1em;}
  
}
@media screen and (max-width:866px) {
  h1.title1{font-size: 1.3em ;}
  p.facts{font-size: 0.9em;}
}
@media screen and (max-width:779px) {
  h1.title1{font-size: 1.2em ;}
  p.facts{font-size: 0.8em;}
  
}
@media screen and (max-width:707px) {
  h1.title1{font-size: 1.1em ;}
  p.facts{font-size: 0.7em;}
}
@media screen and (max-width:627px) {
  h1.title1{font-size: 1em ;}
  p.facts{font-size: 0.6em;}
  
}

main.cardcontainer{
  background-color:  rgb(252, 236, 213);
  width: 90%;
  height: 40%;
margin-left: auto;
margin-right: auto;
padding-left: 5%;
padding-right: 5%;
display: inline-block;



}

.title{
  text-align: center;
  font-size: 2em;
  font-family: "Lilita One", sans-serif;
  font-weight: 1000;
  font-style: normal;  
  padding-top: 1em;
  color: rgb(52, 20, 82);
  
  
}
p.text{
text-align: center;
font-size: 1em;
font-family: "Lilita One", sans-serif;
font-weight: 1000;
font-style: normal;  
color: rgb(108, 35, 177);

}


.card{
  width: 21%;
  height: 50%;
  background-color: aliceblue;
  padding-bottom: 3.5%;
  border-radius: 0.5em;
  overflow: hidden;
  display: inline-block;
 justify-content:space-between;
  margin: calc(7%/4);

 
}
.img3, .img5, .img6{

  width: 100%;
  height: 60%;
  filter: saturate(150%);

  
}
section.card:hover{
  box-shadow: 5px 5px 10px rgb(50, 50, 50);
  transform: scale(1.01);
}

div.cardcontent{
  padding: 1em;
}

.fa-star-half-full, .checked 
{
  color: orange;

}

h3.content
{
 
font-family: "Lilita One", sans-serif;
font-weight: 1000;
font-style: normal;  
top: 62.5%;
bottom: 20%;
font-size: 1em;
color: darkblue;
text-align: left;

}

p.infro{
  font-size: 0.9em;
  font-family: "Lilita One", sans-serif;
font-weight: 1000;
font-style: normal;  
color: darkblue;
text-align: left;
}
p.prices{
  font-size: 0.9em;
  font-family: "Lilita One", sans-serif;
font-weight: 1000;
font-style: normal;  
color: darkblue;
text-align: center;


}
p.price{
  font-size: 0.9em;
  font-family: "Lilita One", sans-serif;
font-weight: 1000;
font-style: normal;  
color: darkblue;
text-align: left;

}


.img4{
  width: 100%;
  height: 60%;
  filter: saturate(160%);
}
a.link{
display: block;
font-size: 1em;
background-color: #f99807;
width: 40%;
margin: auto;
padding: 1em;
margin-top: 0.5em;
margin-left: 3em;
text-decoration: none;
color: blanchedalmond;
text-align: center;
transition: 300ms;


}
a.link:hover{
  background-color: dodgerblue;
  box-shadow: 0px 0px 10px 2px white;
  text-decoration: none;
  transform: scale(1.10);
}
header.header{
  position: relative;
  text-align: center;
  background-color: rgb(252, 236, 213);
  padding-top: 0.2em;
  padding-bottom: 1.5em;
 
}
span.arrow
{
  position: absolute;
  color: rgb(66, 39, 95);
  font-size: 60px;
  left: 3%;
  right: 88%;
  top: 10%;
  bottom: 10%;
}
h1.title{
  font-family: "Lilita One", sans-serif;
font-weight: 1000;
font-style: normal;  
color: #6d3d9b;
text-shadow: 5px 5px 10px rgb(200, 152, 247);
font-size: 1.9em;
}


section.infocontainer{
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin: 3em;
}
div.left, div.right{
  width: 40%;
  box-sizing: border-box;
  
}

img.img7{
  width: 100%;
  height: 100%;
  display: block;
  box-sizing: border-box;
  padding: 1em;
  opacity: 1;
  filter: saturate(125%);
  background-color: rgba(252, 236, 213, 0.881);
}
 
 img.img7:hover {
  opacity: 0.5;
 }
 @media screen and (max-width:900px) {
  h1.title{font-size: 1.7em;}
 }
 @media screen and (max-width:675px) {
  h1.title{font-size: 1.6em;}
 }
 @media screen and (max-width:604px) {
  h1.title{font-size: 1.5em;}
 }
 @media screen and (max-width:523px) {
  h1.title{font-size: 1.3em;}
 }
 


 @media screen and (max-width:1177px) {
  
  div.left, div.right{
    width: 70%;
    height: 70%;}
    }
    @media screen and (max-width:965px) {
  
      div.left, div.right{
        width: 60%;
        height: 60%;}
        section.infocontainer{
          font-size: 0.9em;
        }
        }
        @media screen and (max-width:537px) {
  
          div.left, div.right{
            width: 60%;
            height: 60%;}
            section.infocontainer{
              font-size: 0.8em;
            }
            }
            





div.right{
  padding: 5em;
  background-color: rgba(252, 236, 213, 0.91);
  
}
h2{
  font-size: 1.7em;
  font-family: "Lilita One", sans-serif;
font-weight: 1000;
font-style: normal;  
color: rgb(66, 39, 95);
text-align: center;

}
p{
  font-size: 1.2em;
  font-family: "Lilita One", sans-serif;
  font-weight: 1000;
  font-style: normal;  
  color: #6d3d9b;
  text-align: center;

}
footer.footer{
text-align: center;
background-color: #48147a;
padding: 0.5em;
font-size: 1.2em;
font-family: "Lilita One", sans-serif;
font-weight: 1000;
font-style: normal;  
}
h4{
  color: rgb(55, 25, 99);
}
ol {
  background-color: rgb(252, 236, 213);
  padding:20px;
  font-size: 1.2em;
  font-family: "Lilita One", sans-serif;
  font-weight: 1000;
  font-style: normal;  
}

ol li {
  background: aliceblue;
  color: rgb(66, 39, 95);
  padding: 5px;
  margin-left: 35px;
  font-size: 1em;
  font-family: "Lilita One", sans-serif;
  font-weight: 1000;
  font-style: normal;  
}

h1{

  text-align: center;
  font-size: 2em;
  font-family: "Lilita One", sans-serif;
  font-weight: 1000;
  font-style: normal; 
}


a:link{
text-decoration: none;

}
a:hover{
  text-decoration: underline;
}
a:active{
  text-decoration: underline;
}


main.one{
  padding-top: 2em;
  padding-bottom: 2em;
  background-color:  rgb(252, 236, 213);
  
  
}
table.one{
  margin-left: auto;
  margin-right: auto;
  background-color: aliceblue;
  justify-content: center;
  width: 700px;
  bottom: 10%;
  border: 2px solid black;
}


@media screen and (max-width:1000px) {
  table.one{width: 650px;}
 }
 @media screen and (max-width:800px) {
  table.one{width: 600px;}
 }
 @media screen and (max-width:750px) {
  table.one{width: 550px;}
 }
 @media screen and (max-width:679px) {
  table.one{width: 500px;}
 }
 @media screen and (max-width:579px) {
  table.one{width: 450px;}
 }
 @media screen and (max-width:513px) {
  table.one{width: 380px;}
 }


h3{
  font-size: 1.3em;
  font-family: "Lilita One", sans-serif;
  font-weight: 1000;
  font-style: normal; 
  text-align: center;
 
}
th.one{
  border: 1px solid black;
  border-collapse: collapse;
  margin-right: 2em;
  background-color: rgb(110, 205, 110);
 
}
td.one,.money,
.Descrip, .cost,.total{
  font-size: 1em;
  font-family: "Lilita One", sans-serif;
  font-weight: 500;
  font-style: normal; 
  border: 1px solid black;
  border-radius: 20px;
  padding: 20px;
}
.Descrip, .cost,.total
{
  font-weight: 600;
}
.money, .total{
background-color: lightgreen;
}
footer.footer{
  width: 97%;
  padding: 25px;
  display: flex;
  padding-top: 1em;
  background-color: rgb(214, 185, 255);
  flex-wrap: wrap;
  font-size: 1.3em;
  font-family: "Lilita One", sans-serif;
  font-weight: 500;
  font-style: normal; 
  justify-content: space-evenly;
  }

table.two, th.two,tr.two{
  width: 1000px;
  justify-content: space-between;
}
td.two{
  font-size: 0.9em;
  font-family: "Lilita One", sans-serif;
  font-weight: 550;
  font-style: normal; 
  color: #7b569e;
}


  @media screen and (max-width:1005px) {
    th.two{font-size: 1.1em ;}
    td.two{font-size: 0.8em;}
  }

  @media screen and (max-width:880px) {
    th.two{font-size: 1em ;}
    td.two{font-size: 0.7em;}
  }


  @media screen and (max-width:569px) {
    th.two{font-size: 0.9em ;}
    td.two{font-size: 0.7em;}
  }
  @media screen and (max-width:522px) {
    th.two{font-size: 0.8em ;}
    td.two{font-size: 0.6em;}
  }




  img.logos{
    width: 40px;
    height: 40px;
  }
  img.logo{
    height: 40px;
    width: 40px;
  }
  img.loga{
    width: 45px;
    height: 45px;
  }
  
@media screen and (max-width:1400px) {
  p.intro{  font-size: 2.5em;}

}

@media screen and (max-width:947px) {
  p.intro{  font-size: 2.3em;}
}
@media screen and (max-width:869px) {
  p.intro{  font-size: 2.2em;}
}
@media screen and (max-width:826px) {
  p.intro{  font-size: 2em;}

}


@media screen and (max-width:638px) {
  p.intro{  font-size: 1.8em;}
}

  @media screen and (max-width:590px) {
    p.intro{  font-size: 1.7em;}
  }
  @media screen and (max-width: 535px) {
    p.intro{  font-size: 1.6em;}
  }
  @media screen and (max-width: 520px) {
    p.intro{  font-size: 1.5em;}
  }
 
  
 

 @media screen and (max-width:955px) {
  header.title, h1{font-size: 1.8em;}
}
@media screen and (max-width:737px) {
  header.title, h1{font-size: 1.7em;}
}
@media screen and (max-width:660px) {
  header.title, h1{font-size: 1.4em;}
}
