body{
    background-image: url(images/bluebackground.jpg);
   background-repeat: scroll;
    background-attachment: local;
    background-size: 100%;
    margin: 0px;
  }

  .introdiv{
    position: relative;
  }

  .title{
    position: absolute;
    font-size: 2.2em;
    color: rgb(255, 132, 0);
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    left: 27%;
    right: 40%;
  }
  .heading{
    position: absolute;
    float: right;
    right: 9%;
    margin-top: 1.4em;
    font-size: 1.7em;
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    
  }
  .heading a{
    padding: 14px 16px;
    color: rgb(255, 132, 0);
    text-decoration: none;
    justify-content: space-evenly;
  }

  .heading a:hover {
    color: rgb(255, 163, 70);
  }
  
.introdiv{
  position: relative;
}


.main{
    position: absolute;
    color: rgb(12, 27, 121);
    top: 2.5em;
    justify-content: center;
    left: 30%;
    font-size: 5em;
    font-family: "Jacquard 24", system-ui;
    font-weight: 550;
    font-style: normal;
    text-shadow: 3px 3px 3px rgb(255, 154, 45);
}


.main2{
  position: absolute;
  color: rgb(14, 30, 135);
  margin-top: 15em;
 justify-content: center;
  left: 10%;
  right: 10%;
  font-size: 1.5em;
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  
}
.info{
padding-top: 61%;
}
.one{
  background-color: rgb(175, 223, 255);
  padding-bottom: 3em;
  
}
h1{
  padding-top: 1em;
  margin-left: 40%;
  font-size: 2.3em;
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  color: rgb(240, 124, 1);
}
.text{
  margin-left: 0.5%;
  font-size: 1.6em;
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  color: rgb(240, 124, 1);
}
.date{
  margin-left: 3.5%;
  font-size: 1.2em;
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  color: rgb(255, 146, 29);

}
.hone{
  padding-top: 1em;
  margin-left: 38%;
  font-size: 2.3em;
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  color: rgb(14, 30, 135);
 
}
.info2{
  background-color: rgb(255, 209, 160);
  padding-bottom: 40%;
}
section.card{
  width: 25%;
  
  background-color: aliceblue;
  float: left;
  margin-left: 5%;
  border-radius: 1em;
  overflow: hidden;
  position: relative;

}
img.cardimg{
  width: 100%;
  
}