body{
    background-image: url(images/pink.jpeg);
   background-repeat: repeat;
    background-attachment: local;
  background-size: 100%;
    margin: 0px;
  }

/*Nav Bar*/


.navbar-brand{
  top: 0.6em;
  font-size: 2.2em;
  color: rgb(217, 2, 110);
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
}
  .carousel-inner{
    display: flex;
    flex-wrap: wrap;
   
  }
  .heading{
    padding-top: 0px;
    right: 3%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 1.7em;
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(255, 249, 253);
    justify-content: space-evenly;
   
  }

  .heading a{
    padding: 16px;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    
  }

  .heading a:hover {
    color: rgb(255, 108, 181);
    

  }

/*About Me*/
  
  .introdiv{
  position: relative;
  }


.p1{
  
  color: rgb(255, 235, 235);
  font-size: 5em;
  justify-content: center; 
  font-family: "Jacquard 24", system-ui;
  font-weight: 550;
  font-style: normal;
  text-shadow: 4px 4px 5px rgb(158, 3, 94);
    
}


.p2{
  color: rgb(255, 255, 255);
  justify-content: center;
  font-size: 1.5em;
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  text-shadow: 4px 4px 5px rgb(158, 3, 94);
  padding-bottom: 10em;
  
}

/*Education*/

.one{
  background-color: rgb(255, 249, 253);
  padding-bottom: 3em;
  padding: auto;
  margin-bottom: 5em;
  position: relative;
}


.text1{
  padding-top: 1em;
  text-align: center;
  font-size: 2.3em;
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  color: black;
  

}
.text{
  margin-left: 0.5%;
  font-size: 1.6em;
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  color: black;
}
.date{
  margin-left:2em;
  text-align: left;
  font-size: 1.2em;
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  color: black;

}
.photo1{
  position: absolute;
  top: 2.5em;
  right: 20%;
  
}
.logoimg{
  width: 130%;
  
}

/*Experiences*/

.hone{
  justify-content: center;
  display: flex;
  flex: wrap;
  margin-bottom: 2em;
  font-size: 2.3em;
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  color: rgb(0, 0, 0);
  
}
.experiences{
  display: flex;
  flex-wrap: wrap;
 
}
section.card1{
  width: 26%;
  background-color: rgb(255, 249, 253);
  float: left;
  margin-left: 5%;
  border-radius: 1em;
  overflow: hidden;
  position: relative;
  bottom: 2.4em;

}
.card1{
  margin-top: 2em;
  display: flex;
  flex-wrap: wrap;
}
img.cardimg1{
  width: 400px;
  height: 350px;
}

img.cardimg2{
  width: 400px;
  height: 350px;
}

img.cardimg3{
  width: 400px;
  height: 350px;
}

.cardtext{
  padding-top: 1em;
  font-size: 1.6em;
  text-align: center;
  font-family: "Teko", sans-serif;
  font-weight: 800;
  color: black;
  
}
.cardtext1,.cardtext2{
  padding-top: 1em;
  font-size: 1.6em;
  text-align: center;
  font-family: "Teko", sans-serif;
  font-weight: 800;
  color:black;
}
.ex{
  font-size: 1em;
  margin-left:1.5em;
  margin-right: 1.5em;
  font-family: "Teko", sans-serif;
  font-weight: 700;
  color: black; 
  
}
.ex1{
  font-size: 1em;
  margin-left:1.5em;
  margin-right: 1.5em;
  margin-bottom: 2.5em;
  font-family: "Teko", sans-serif;
  font-weight: 700;
  color: black; 
  
}

/*Web Technology Projects*/
.projecttitle{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 2em;
  font-size: 2.3em;
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  color: rgb(0, 0, 0);
  
  
}

.img2{
  width: 90%;
  margin: 2em;

}
section.card{
  width: 45%;
  overflow: hidden;
  margin: 2em;
 
 
  
}


section.card:hover{
  box-shadow: 5px 5px 15px rgb(50,50 , 50); 
  transform:scale(1.01);
}
section.card:hover h2{
  text-decoration: underline;
  transform: rotate(-5deg) translate(50px)   ;
 
}

.card-title2{
  text-align: center;
  font-size: 2em;
  margin-top: 0.3em;
  font-family: "Teko", sans-serif;
  font-weight: 800;
  color: rgb(0, 0, 0);
}
.card-title1{
  font-size: 2em;
  margin-top: 0.3em;
  text-align: center;
  font-family: "Teko", sans-serif;
  font-weight: 800;
  color: rgb(0, 0, 0);
}


main.cardcontainer{
  width: 100%; 
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
 
  
}

.modal-title{
  position: absolute;
  
}

/*Class Activities*/

.hthree{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 2.3em;
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  color: rgb(0, 0, 0);
  
}

/*Footer*/


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: "Teko", sans-serif;
}

.container{
	max-width: 1170px;
	margin:auto;
   
}
div.row3{
	display: flex;
	flex-wrap: wrap;
  
}
ul{
	list-style: none;
}
.footer{
	background-color: rgb(242, 241, 241);
  padding: 70px 0;
  
    
   
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color:rgb(0, 0, 0);
	text-transform: capitalize;
	margin-bottom: 35px;
  font-family: "Teko", sans-serif;
    font-weight: 900;
    font-style: normal;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	color: rgb(255, 0, 128);
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: rgb(0, 0, 0);
	text-decoration: none;
	font-family: "Anton", sans-serif;
    font-weight: 600;
    font-style: normal;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: rgb(255, 0, 128);
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	color: black;
  background-color: rgba(255, 167, 211, 0.387);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: rgb(194, 0, 97);
	
}
.footer{
  position: relative;
  padding-bottom: 20%;
}
/*Forms*/
div.inforight{
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 40%;
 left: 50%;
 right: 50%;
 top: 5%;
 bottom: 5%;
  
}
.text5{
  font-size: 18px;
	color:rgb(0, 0, 0);
	text-transform: capitalize;
	margin-bottom: 35px;
  font-family: "Teko", sans-serif;
    font-weight: 900;
    line-height: 1.5;
    margin-top:40px;
}

.footer2{
  text-align: center;
  font-size: 18px;
	color:rgb(255, 255, 255);
	text-transform: capitalize;
	margin-bottom: 35px;
  font-family: "Teko", sans-serif;
  font-weight: 900;
  background-color: rgb(255, 0, 128);
  padding-top: 1em;
  padding-bottom: 1em;
  text-shadow: 4px 4px 5px rgb(158, 3, 94);
  

}
/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px)
{
  .footer-col{
    width: 100%;
}}


@media only screen and (max-width:1283px)
{ 
    section.card{width: 550px;}
    
}

/*------BREAKPOINT = px ---------*/
@media only screen and (max-width:1231px)
{section.card{width: 500px;}

}
/*------BREAKPOINT = px ---------*/
@media only screen and (max-width:1131px)
{section.card{width: 95%;
}

}

/*------ BREAKPOINT= 600PX ---------*/
@media only screen and (max-width:600px){
    section.card{width: 100%; }
    
}

@media only screen and (max-width:1141px){
  .p1{
    text-align: center;
    font-size: 4.5em;
  } 
  .p2{
    text-align: center;
    font-size: 1.4em;
  }
  
}

@media only screen and (max-width:1064px){
  .p1{
    text-align: center;
    font-size: 4.3em;
  } 
  .p2{
    text-align: center;
    font-size: 1.3em;
  }
  
}
@media only screen and (max-width:989px){
  .p1{
    text-align: center;
    font-size: 4.1em;
  } 
  .p2{
    text-align: center;
    font-size: 1.1em;
  }
  
}
@media only screen and (max-width:837px){
  .p1{
    text-align: center;
    font-size: 4em;
  } 
  .p2{
    text-align: center;
    font-size: 1em;
  }
  
}

/*Responsive image*/
@media only screen and (max-width:1000px){
  .logoimg{
    width: 120%;
}
.photo1{
  right: 5em;
}
}
@media only screen and (max-width:817px){
  .logoimg{
    width: 100%;
}
.photo1{
  right: 2em;
}
}

@media only screen and (max-width:779px){
  .logoimg{
    width: 90%;
}
.photo1{
  right: 1.5em;
}
}
@media only screen and (max-width:746px){
  .logoimg{
    display: none;

  }
}

/*Footer and forms*/
@media only screen and (max-width:991px){
  .text5{
    display: none;

  }
  div.inforight{
    display: none;
  }
}
