body{
    position: relative;
    background-image: url(images/bluebackground.jpg);
    background-repeat:repeat;
    background-position: cover;
    background-attachment: fixed;
    background-size: 100%;
    margin: 0px;
  }

  .title{
    position: absolute;
    font-size: 2.2em;
    color: rgb(255, 132, 0);
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    left: 27%;
    right: 40%;
  }
  .heading{
    position: absolute;
    float: right;
    right: 9%;
    margin-top: 1.4em;
    font-size: 1.7em;
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    
  }
  .heading a{
    padding: 14px 16px;
    color: rgb(255, 132, 0);
    text-decoration: none;
    justify-content: space-evenly;
  }

  .heading a:hover {
    color: rgb(255, 163, 70);
  }
  
.introdiv{
  position: relative;
}


.main{
    position: absolute;
    color: rgb(12, 27, 121);
    text-shadow: 3px 3px rgb(250, 149, 16);
    top: 2.5em;
    left: 35%;
    right: 40%;
    font-size: 5em;
    font-family: "Jacquard 24", system-ui;
    font-weight: 550;
    font-style: normal;
   
}
.main2{
    position: absolute;
    color: rgb(14, 30, 135);
    margin-top: 15em;
   text-align: center;
    left: 35%;
    right: 40%;
    font-size: 1.5em;
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    text-shadow: 3px 3px 3px rgb(253, 150, 15);
 
}