*{box-sizing: border-box;}
html{scroll-behavior: smooth;}
:root{
    --primarycolor: rgb(38, 5, 34);
    --primarydark: rgb(120,20,107);
    --primarylight: rgb(255, 247, 237);
}

h3{
    background-color: var(--primarylight);
    text-align: center;
    padding: 1em;
    color: var(--primarycolor);
}