*{box-sizing: border-box;}
html{scroll-behavior: smooth;}
:root{
    --primarycolor: rgb(38, 5, 34);
    --primarydark: rgb(120,20,107);
    --primarylight: rgb(255, 251, 246);
}

h1{
    background-color: var(--primarylight);
    text-align: center;
    padding: 1em;
    color: var(--primarycolor);
    
}
.nav-item,.nav-link{
    font-size: 1.5em;
    padding-top: 1em;
  justify-content: center;

}